@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ncpor-deep-blue: #0f172a;
    --ncpor-ice-blue: #e0f2fe;
    --ncpor-teal: #0d9488;
    --ncpor-white: #ffffff;
  }
  body {
    @apply bg-slate-50 text-slate-900;
  }
}
